<a href="https://colab.research.google.com/github/AimoneCG/Proyecto-CoderHouse-Data-Science-I-Fundamentos-para-la-Ciencia-de-Datos/blob/main/ProyectoDS_Parte1_Aimone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Primera Entrega** -  Cristian Aimone
# Data Science I : Fundamentos para la Ciencia de Datos
### Fecha: 17/10/2024

## Consigna:

### Visualizaciones en Python

1. Seleccionar uno de los datasets anterioriores *“Elección de Potenciales Datasets e importe con la librería Pandas”*.
2. Realizar un abstract (250/500 palabras) de acuerdo al dataset elegido.
3. Establecer las preguntas e hipótesis de interés sobre el dataset elegido.
    - Generar al menos dos preguntas y/o hipotesis.
4. Realizar gráficos con Matplotlib y con Seaborn.
    - 3 visualizaciones distintas con Matplotlib: 1 Univariado, 1 Bivariado, 1 libre elección.
    - 3 visualizaciones distintas con Seaborn: 1 Univariado, 1 Bivariado, 1 libre elección.
    - Generar una interpretación de los gráficos.
    - Debe usarse al menos un parametro adicional (grid, hue, etc) que enriquezca la legibilidad de los charts.

# Metadata

### Abstract

- El dataset elegido contiene una visión global de los estudiantes matriculados en diversas titulaciones de grado ofrecidas en una institución de enseñanza superior.
- Incluye datos demográficos, factores socioeconómicos e información sobre el rendimiento académico que pueden utilizarse para analizar los posibles factores predictivos del abandono y el éxito académico de los estudiantes.
- Este conjunto de datos contiene múltiples bases de datos disjuntas compuestas por información relevante disponible en el momento de la matriculación, como el modo de solicitud, el estado civil, el curso elegido, etc. Además, estos datos pueden utilizarse para estimar el rendimiento global de los estudiantes al final de cada semestre mediante la evaluación de las unidades curriculares acreditadas/matriculadas/evaluadas/aprobadas, así como sus respectivas calificaciones.
- Por último, disponemos de la tasa de desempleo, la tasa de inflación y el PIB de la región, que pueden llegar a ayudarnos a comprender mejor cómo influyen los factores económicos en las tasas de abandono escolar o en los resultados académicos.
- El análisis se realizará desde el punto de vista de una institución educativa cn el fin de obtener valiosa información sobre lo que motiva a los estudiantes a permanecer en la escuela o abandonar sus estudios para una amplia gama de disciplinas como agronomía, diseño, educación enfermería periodismo gestión servicio social o tecnologías


- Este conjunto de datos fue obtenido de : [https://www.kaggle.com/datasets/thedevastator/higher-education-predictors-of-student-retention] .

# Diccionario de Variables

- Marital status => Estado civil: Estado civil del alumno.
(Categórico)
- Application mode => Modo de solicitud: El método de solicitud utilizado por el estudiante. (Categórica)
- Application order => Orden de solicitud: El orden en que el estudiante presentó la solicitud. (Numérico)
- Course => Curso: Curso realizado por el estudiante. (Categórico)
- Daytime/evening attendance => Asistencia diurna/noche: Si el alumno asiste a clase durante el día o por la noche. (Categórico)
- Previous qualification => Titulación previa: La titulación obtenida por el estudiante antes de matricularse en la enseñanza superior. (Categórica)
- Nacionality => Nacionalidad: Nacionalidad del estudiante. (Categórica)
- Mother's qualification => Titulación de la madre: Titulación de la madre del estudiante. (Categórica)
- Father's qualification => Titulación del padre: Titulación del padre del alumno. (Categórica)
- Mother's occupation => Profesión de la madre: Profesión de la madre del estudiante. (Categórica)
- Father's occupation => Profesión del padre: Profesión del padre del alumno. (Categórica)
- Displaced => Desplazado: Si el estudiante es una persona desplazada. (Categórica)
- Educational special needs => Necesidades educativas especiales: Si el alumno tiene necesidades educativas especiales. (Categórico)
- Debtor => Deudor: Si el estudiante es deudor. (Categórico)
- Tuition fees up to date => Pago al día: Si las colegiaturas del estudiante están al día. (Categórico)
- Gender => Género: Genero o sexo del estudiante. (Categórico)
- Scholarship holder => Becario: Si el estudiante es becario. (Categórico)
- Age at enrollment => Edad de inscripción: Edad del estudiante en el momento de la inscripción. (Numérico)
- International => Internacional: Si el estudiante es internacional. (Categórico)
- Curricular units 1st sem (credited) => Unidades curriculares 1er sem (acreditadas): El número de unidades curriculares acreditadas por el estudiante en el primer semestre. (Numérico)
- Curricular units 1st sem (enrolled) => Unidades curriculares 1er sem (matriculadas): Número de unidades curriculares matriculadas por el alumno en el primer semestre. (Numérico)
- Curricular units 1st sem (evaluations) => Unidades curriculares 1er sem (evaluaciones): Número de unidades curriculares evaluadas por el alumno en el primer semestre. (Numérico)
- Curricular units 1st sem (approved) => Unidades curriculares 1er sem (aprobadas): Número de unidades curriculares aprobadas por el alumno en el primer semestre. (Numérico)

#Importación de librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Importación del dataset desde github

In [ ]:
url = "https://raw.githubusercontent.com/AimoneCG/Proyecto-CoderHouse-Data-Science-I-Fundamentos-para-la-Ciencia-de-Datos/main/dataset.csv"

df = pd.read_csv(url)

In [ ]:
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [ ]:
df.shape

(4424, 35)

El dataset contiene 4424 filas y 35 columnas.
Se puede apreciar que contiene tanto variables categóricas como númericas

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 35 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance                      4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Nacionality                                     4424 non-null   int64
 7   Mother's qualification                          4424 non-null   int64
 8   Father's qualification                          4424 non-null   int64
 9   Mother's occupation                             4424 non-null   int64
 10  Father's occupation                             4424 non-null   int64
 11  Displaced                                       4424 non-null   int64
 12  Educational special needs                       4424 non-null   int64
 13  Debtor                                          4424 non-null   int64
 14  Tuition fees up to date                         4424 non-null   int64
 15  Gender                                          4424 non-null   int64
 16  Scholarship holder                              4424 non-null   int64
 17  Age at enrollment                               4424 non-null   int64
 18  International                                   4424 non-null   int64
 19  Curricular units 1st sem (credited)             4424 non-null   int64
 20  Curricular units 1st sem (enrolled)             4424 non-null   int64
 21  Curricular units 1st sem (evaluations)          4424 non-null   int64
 22  Curricular units 1st sem (approved)             4424 non-null   int64
 23  Curricular units 1st sem (grade)                4424 non-null   float64
 24  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 25  Curricular units 2nd sem (credited)             4424 non-null   int64
 26  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 27  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 28  Curricular units 2nd sem (approved)             4424 non-null   int64
 29  Curricular units 2nd sem (grade)                4424 non-null   float64
 30  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 31  Unemployment rate                               4424 non-null   float64
 32  Inflation rate                                  4424 non-null   float64
 33  GDP                                             4424 non-null   float64
 34  Target                                          4424 non-null   object
dtypes: float64(5), int64(29), object(1)
memory usage: 1.2+ MB

El dataset no contiene valores nulos

In [ ]:
df.describe()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
count,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,...,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000
mean,1.178571,6.886980,1.727848,9.899186,0.890823,2.531420,1.254521,12.322107,16.455244,7.317812,...,0.137658,0.541817,6.232143,8.063291,4.435805,10.230206,0.150316,11.566139,1.228029,0.001969
std,0.605747,5.298964,1.313793,4.331792,0.311897,3.963707,1.748447,9.026251,11.044800,3.997828,...,0.690880,1.918546,2.195951,3.947951,3.014764,5.210808,0.753774,2.663850,1.382711,2.269935
min,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,1.000000,1.000000,1.000000,6.000000,1.000000,1.000000,1.000000,2.000000,3.000000,5.000000,...,0.000000,0.000000,5.000000,6.000000,2.000000,10.750000,0.000000,9.400000,0.300000,-1.700000
50%,1.000000,8.000000,1.000000,10.000000,1.000000,1.000000,1.000000,13.000000,14.000000,6.000000,...,0.000000,0.000000,6.000000,8.000000,5.000000,12.200000,0.000000,11.100000,1.400000,0.320000
75%,1.000000,12.000000,2.000000,13.000000,1.000000,1.000000,1.000000,22.000000,27.000000,10.000000,...,0.000000,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000
max,6.000000,18.000000,9.000000,17.000000,1.000000,17.000000,21.000000,29.000000,34.000000,32.000000,...,12.000000,19.000000,23.000000,33.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000

# EDA - Análisis exploratorio de los datos

#Gráficos

###Hipótesis